/* ======== RESET ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #ffedd8;
  color: #000;
  line-height: 1.6;
}

/* ======== CONTATO ======== */
.contato {
  padding: 3rem 2rem;
  text-align: center;
}

.contato h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #7f4f24;
}

.contato-social {
    background-color: #7f4f24;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato-social i {
    color: #fff;
    font-size: 2rem;
}

.contato-social i:hover {
    color: #000;
    border-bottom: #000 solid 3px;
}


/* ======== INFO EXTRA ======== */
.contato__info,
.contato__horarios,
.contato__faq {
  margin: 2rem auto;
  max-width: 800px;
  text-align: left;
}

.contato__info h3,
.contato__horarios h3,
.contato__faq h3 {
  margin-bottom: 2rem;
  color: #7f4f24;
  font-size: 2rem;
}

.contato__info p,
.contato__horarios p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.contato__info a {
    color: #000;
}
/* FAQ estilo */
.contato__faq details {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.contato__faq summary {
  font-weight: bold;
  color: #000;
}

.contato__faq p {
  margin-top: 0.5rem;
  color: #000;
}

.contato__mapa iframe {
  border-radius: 10px;
  margin: 2rem 0;
}

/* Ajuste geral */
.contato__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  border-radius: 5px;
  gap: 2rem;
  flex-wrap: wrap; /* permite quebrar em linhas no mobile */
}

.contato img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
}

.contato form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #7f4f24;
  border-radius: 8px;
}

.contato input,
.contato textarea,
.contato button {
  width: 100%;
  max-width: 100%;
  height: 2rem;
  border: none;
  border-radius: 3px;
}


.contato textarea {
  height: 4rem;
}

.contato button {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.658);
  transition: transform 0.3s ease;
}

.contato button:hover {
  box-shadow: 0 4px 10px rgba(12, 12, 12, 0.658);
  transform: translateY(-5px);
  background-color: #a54d00;
  border: #6e3e07 solid 1px;
}

.contato input:focus,
.contato textarea:focus{
  border: #e64900 solid 3px;
}

/* Responsivo */
@media (max-width: 768px) {
  .contato__form {
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }

  .contato h2 {
    font-size: 2rem;
  }

  .contato input,
  .contato textarea,
  .contato button {
    font-size: 1rem;
  }
}
