*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7f4f24;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    width: 100%;
    max-width: 100%;
    height: 4rem;
    padding: 1rem;
}

.nav__links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navbar a:hover {
  color: #7f4f24;
  border-bottom: #7f4f24 solid 2px;
}
/* estilo padrão (mobile first) */
/* Menu mobile (inicialmente escondido) */
.menu-toggle {
  display: block; 
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

/* Links do menu */
.nav__links {
  display: none; /* escondido por padrão */
  flex-direction: column;
  width: 100%;      /* ocupar toda a largura */
  background-color: #000; /* mesmo fundo da navbar */
  position: absolute;     /* para aparecer abaixo da navbar */
  top: 100%;              /* logo abaixo da barra */
  left: 0;
  padding: 1rem 0;
  z-index: 999;
}

.nav__links a {
  padding: 0.8rem 1rem;
  color: #fff;
  text-decoration: none;
}

/* Mostrar quando ativo */
.nav__links.active {
  display: flex;
}

/* Desktop */
@media (min-width: 769px) {
  .menu-toggle {
    display: none; /* esconde botão hamburguer */
  }

  .nav__links {
    display: flex !important;
    position: static;  /* normal no desktop */
    flex-direction: row;
    gap: 1rem;
    background: none;
    width: auto;
  }
}
