/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}


/* Seções principais */
main section {
  padding: 4rem 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #7f4f24;
}

p, li {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* História e Missão */
.historia, .missao, .sustentabilidade {
  background: #fdfdfd;
  border-left: 5px solid #7f4f24;
  padding: 2rem;
  margin-bottom: 2rem;
}

/* Lista de Missão, Visão e Valores */
.missao ul {
  list-style: none;
}

.missao li {
  margin-bottom: 0.8rem;
}

/* Equipe */

.equipe-grid {
  padding: 60px 20px;
  background-color: #7f4f24;
  margin-top: 3rem;
  width: 1100px;
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
}

.equipe-grid h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #000;
}

.membro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  width: 20rem;
  height: 25rem;
  text-align: center;
  transition: transform 0.3s ease;
}


.membro:hover {
  transform: translateY(-5px);
}

.membro img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: #7f4f24 solid 1px;
}

.membro h3 {
  margin: 10px 0 5px;
  font-size: 1.4rem;
  color: #000;
}

.membro p {
  font-size: 1.2rem;
  color: #050505;
  margin-bottom: 15px;
}

.redes-sociais a {
  margin: 0 8px;
  color: #000;
  font-size: 1.7rem;
  transition: color 0.3s ease;
}

.redes-sociais a:hover {
  color: #7f4f24;
}

/* Depoimentos */
.depoimentos {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.depoimento {
  display: none;
  font-size: 1.2rem;
  font-style: italic;
  color: #fff;
  background: #7f4e24ce;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(128, 62, 0, 0.658);
  transition: opacity 0.5s ease;
}

.depoimento.ativo {
  display: block;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Call to Action */
.cta {
  text-align: center;
  background: #7f4f24;
  color: #fff;
  padding: 3rem 2rem;
  border-radius: 8px;
}

.cta h2 {
  color: #fff;
}

.cta p {
  margin-bottom: 1.5rem;
}

.btn {
  background: #000;
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #fff;
  color: #000;
}
